.boba-vibe-landing {
    background-color: #E8D9D6;
    width: 1440px;
    height: 1070px;
    padding-left: 64px;
    padding-bottom: 64px;
    font-family: Poppins, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-screen {
    display: flex;
    flex-direction: row;
}

.image-area {
    display: flex;
    flex-direction: row;
    position: relative;
}

.first-screen__image_area {
    position: relative;
    top: 0;
    right: -4px;
}

.image-area__left-wing {
    z-index: 1;
    width: 316px;
    height: 317px;
    position: absolute;
    bottom: 180px;
    left: 100px;
}

.image-area__right-wing {
    z-index: 1;
    width: 316px;
    height: 317px;
    position: absolute;
    bottom: 180px;
    right: 75px;
}

.image-area__bubble-tea-image {
    z-index: 2;
    position: absolute;
    top: 37px;
    right: 160px;
}

.image-area__leaf-image {
    z-index: 3;
    position: absolute;
    top: 310px;
    right: 288px;
}

.content-area {
    width: 574px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first-screen__content-area {
    margin-top: 45px;
}

.first-screen__tea-illustration {
    width: 231px;
    height: 292px;
    z-index: 1;
    position: relative;
    margin-bottom: -63px;
}

.first-screen__title {
    font-weight: 700;
    color: #271908;
    font-size: 112px;
    line-height: 148px;
}

.first-screen__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #252525;
}

.first-screen__browse-menu-button {
    width: 227px;
    height: 66px;
    border-radius: 40px;
    padding: 24px 37px;
    background-color: #271908;

    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    color: #ffffff;

    margin-top: 32px;
}

.statistic-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1310px;
}

.statistic-card {
    width: 426px;
    height: 195px;
    background-image: url("/assets/images/statistic-card-background.png");
    display: flex;
    flex-direction: row;
}

.statistic-card__text-block {
    width: 216px;
    height: 133px;
    margin: 31px 29px;
    color: #252525;
}

.statistic-card__image {
    width: 152px;
    height: 195px;
    border-radius: 80px;
}

.statistic-card__metric {
    line-height: 36px;
    font-size: 40px;
    font-weight: 600;
}

.statistic-card__text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-top: 16px;
}